[Desktop Entry]
Type=Application
Name=StockPi Launcher
Exec=chromium --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --incognito http://localhost
X-GNOME-Autostart-enabled=true
